@page "/Account/Manage"
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager

<PageTitle>Profile</PageTitle>

<section class="space-y-6">
    <h2 class="text-lg font-medium text-[var(--text)]">Edit Profile</h2>

    <StatusMessage/>
    <EditForm Model="Input" FormName="profile" OnValidSubmit="OnValidSubmitAsync" method="post" class="space-y-6">
        <DataAnnotationsValidator/>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <!-- Username (read-only) -->
            <div class="md:col-span-2">
                <label for="username" class="block mb-2 text-sm font-medium text-[var(--text)]">
                    Username
                </label>
                <input
                    id="username"
                    type="text"
                    value="@_username"
                    disabled
                    aria-readonly="true"
                    class="bg-[var(--section-secondary)] focus:border-[var(--main)] text-[var(--text)] rounded-lg block w-full p-2.5 cursor-not-allowed"/>
            </div>

            <!-- User Bio -->
            <div class="md:col-span-2">
                <label for="Input.Bio" class="block mb-2 text-sm font-medium text-[var(--text)]">
                    Biography
                </label>
                <InputText
                    id="Input.Bio"
                    @bind-Value="Input.Bio"
                    class="block w-full p-2.5 rounded-lg
                        bg-[var(--section-secondary)]
                        text-[var(--text)]
                        focus:border-[var(--main)]
                        focus:ring-1 focus:ring-[var(--main)]
                        focus:outline-none"
                    placeholder="Let's play together!"/>
                <ValidationMessage For="() => Input.Bio" class="text-[var(--error)] text-sm mt-1"/>
            </div>

            <button id="dropdownCheckboxButton" data-dropdown-toggle="dropdownDefaultCheckbox"
                    class="text-[var(--text-contrast)] bg-[var(--main)] hover:bg-[var(--main-hover)] focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center"
                    type="button">Favorite Sports
                <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                     viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="m1 1 4 4 4-4"/>
                </svg>
            </button>


            <!-- Dropdown menu -->
            <div id="dropdownDefaultCheckbox"
                 class="z-10 hidden w-48 bg-[var(--section-secondary)] divide-y divide-[var(--main)] rounded-lg shadow-sm">
                <ul class="p-3 space-y-3 text-sm text-[var(--text)]" aria-labelledby="dropdownCheckboxButton">
                    @foreach (var sport in Enum.GetValues<Sports>())
                    {
                        var isChecked = _currentSports.Contains(sport);
                        <li>
                            <label for="sport-@sport"
                                   class="flex items-center p-2 rounded-sm hover:bg-[var(--main)] hover:text-[var(--text-contrast)] cursor-pointer">
                                <input id="sport-@sport"
                                       type="checkbox"
                                       name="Input.PreferredSports"
                                       value="@sport"
                                       checked="@isChecked"
                                       class="w-4 h-4 text-[var(--main-hover)] bg-gray-100 hover:text-[var(--main-hover)] border-gray-300 rounded-sm focus:ring-2"/>
                                <span
                                    class="ms-2 text-sm font-medium text-[var(--text)] hover:text-[var(--text-contrast)]">@sport</span>
                            </label>
                            <input type="hidden" name="CheckboxViewModel.Status" value="false"/>
                        </li>
                    }
                </ul>
            </div>

            <div class="pt-2">
                <button
                    type="submit"
                    class="w-full sm:w-auto inline-flex justify-center px-6 py-2.5 rounded-lg text-sm font-medium text-[var(--text-contrast)] bg-[var(--main)] hover:bg-[var(--main-hover)]">
                    Save
                </button>
            </div>
        </div>
    </EditForm>
</section>

@code {
    private ApplicationUser _user = default!;
    private string? _username;
    private string? _bio;
    private ICollection<Sports> _currentSports = new List<Sports>();

    [CascadingParameter] private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm] private InputModel Input { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        _user = await UserAccessor.GetRequiredUserAsync(HttpContext);
        _username = await UserManager.GetUserNameAsync(_user);

        _bio = _user.Bio;
        Input.Bio ??= _bio;

        _currentSports = _user.PreferredSports;
    }

    private async Task OnValidSubmitAsync()
    {
        var changed = false;

        if (Input.Bio != _bio)
        {
            _user.Bio = Input.Bio;
            var update = await UserManager.UpdateAsync(_user);
            if (!update.Succeeded)
            {
                RedirectManager.RedirectToCurrentPageWithStatus("Error: Failed to set bio.", HttpContext);
                return;
            }

            changed = true;
        }

        if (!_user.PreferredSports.SequenceEqual(Input.PreferredSports))
        {
            _user.PreferredSports = Input.PreferredSports;
            changed = true;
        }

        if (changed)
        {
            var update = await UserManager.UpdateAsync(_user);
            if (!update.Succeeded)
            {
                RedirectManager.RedirectToCurrentPageWithStatus("Error: Failed to update profile.", HttpContext);
                return;
            }

            await SignInManager.RefreshSignInAsync(_user);
            RedirectManager.RedirectToCurrentPageWithStatus("Your profile has been updated", HttpContext);
        }
    }

    private sealed class InputModel
    {
        [Display(Name = "Bio")]
        [StringLength(500, ErrorMessage = "Your bio must be at most 500 characters long.")]
        public string? Bio { get; set; }

        public List<Sports> PreferredSports { get; set; } = new();
    }

}