@using MatchBy.DTOs.Chat.Conversations
@using Blazorise

<!-- Sidebar -->
<aside
    class="hidden md:flex md:flex-col bg-white dark:bg-neutral-900 border-r border-gray-200 dark:border-neutral-800">

    <!-- header -->
    <div class="px-4 pt-3 pb-2">
        <div class="flex items-center justify-between">
            <h2 class="text-[15px] font-semibold text-gray-900 dark:text-gray-100">Chats</h2>
            <Button class="p-1.5 rounded hover:bg-gray-100 dark:hover:bg-neutral-800" Clicked="@OnShowModal">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 20" fill="currentColor"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="size-4 text-gray-500 dark:text-gray-400 lucide lucide-user-plus-icon lucide-user-plus">
                    <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"/>
                    <circle cx="9" cy="7" r="4"/>
                    <line x1="19" x2="19" y1="8" y2="14"/>
                    <line x1="22" x2="16" y1="11" y2="11"/>
                </svg>
            </Button>
        </div>

        <!-- search -->
        <label class="relative mt-2 block">

            <TextEdit @bind-Text="_search"
                      Placeholder="Search for contacts"
                      Role="TextRole.Search"
                      Class="w-full rounded-lg border border-gray-300 dark:border-neutral-700 bg-white dark:bg-neutral-900 pl-9 pr-3 py-2 text-sm placeholder-gray-400 dark:placeholder-neutral-500 outline-none focus:ring-2 focus:ring-blue-500/30"/>
            <svg class="size-5 absolute left-2.5 top-2 text-gray-400 dark:text-neutral-500"
                 viewBox="0 0 24 24" fill="none" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                      d="m21 21-4.3-4.3m0-6.2a7.5 7.5 0 1 1-15 0 7.5 7.5 0 0 1 15 0Z"/>
            </svg>
        </label>
    </div>

    <!-- list -->
    <nav class="flex-1 overflow-y-auto thin-scroll px-2 pb-3 space-y-4">

        @{
            var privateConversations = Conversations.Where(u => string.IsNullOrWhiteSpace(_search) ||
                                                                u.Title!.Contains(_search, StringComparison.OrdinalIgnoreCase)).Where(c => c.Type == ConversationType.Private).ToList();
            var matchConversations = Conversations.Where(u => string.IsNullOrWhiteSpace(_search) ||
                                                              u.Title!.Contains(_search, StringComparison.OrdinalIgnoreCase)).Where(c => c.Type == ConversationType.Match).ToList();
            var teamConversations = Conversations.Where(u => string.IsNullOrWhiteSpace(_search) ||
                                                             u.Title!.Contains(_search, StringComparison.OrdinalIgnoreCase)).Where(c => c.Type == ConversationType.Team).ToList();
        }
        @if (privateConversations.Any())
        {
            <!-- PRIVATE CONVERSATIONS -->
            <div>
                <div class="px-2 pt-1 pb-2 text-xs uppercase tracking-wide text-gray-500 dark:text-neutral-400">
                    Private conversations
                </div>
                @foreach (var privateConversation in privateConversations)
                {
                    <ConversationSideBarItem Conversation="privateConversation"
                                             OnConversationSelected="OnConversationSelected"></ConversationSideBarItem>
                }
            </div>
        }

        @if (matchConversations.Any())
        {
            <!-- MATCH CONVERSATIONS -->
            <div>
                <div class="px-2 pt-1 pb-2 text-xs uppercase tracking-wide text-gray-500 dark:text-neutral-400">
                    Match conversations
                </div>
                @foreach(var matchConversation in matchConversations)
                {
                <ConversationSideBarItem Conversation="matchConversation"
                                         OnConversationSelected="OnConversationSelected"></ConversationSideBarItem>
                }
            </div>
        }

        @if (teamConversations.Any())
        {
            <!-- TEAM CONVERSATIONS -->
            <div>
                <div class="px-2 pt-1 pb-2 text-xs uppercase tracking-wide text-gray-500 dark:text-neutral-400">Team
                    conversations
                </div>
                @foreach (var teamConversation in teamConversations)
                {
                    <ConversationSideBarItem Conversation="teamConversation"
                                             OnConversationSelected="OnConversationSelected"></ConversationSideBarItem>
                }
            </div>
        }
    </nav>
</aside>

@code
{
    private string _search = "";
    [Parameter] public List<ConversationDto> Conversations { get; set; } = new();
    [Parameter] public EventCallback<ConversationDto> OnConversationSelected { get; set; }
    [Parameter] public required string CurrentUserId { get; set; }
    [Parameter] public EventCallback<MouseEventArgs> OnShowModal { get; set; }

}
