@page "/Matches"
@using MatchBy.Services.Matches
@inject IMatchesService MatchesService
@inject NavigationManager NavigationManager
@rendermode @(new InteractiveServerRenderMode(false))
@attribute [StreamRendering]
@inject AuthenticationStateProvider AuthenticationStateProvider
@using System.Security.Claims
@using MatchBy.DTOs.Match

<section class="bg-[var(--background)]">
    <div class="py-8 px-4 mx-auto  text-center lg:py-16">
        <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-[var(--main)] md:text-5xl lg:text-6xl">Create your Match!</h1>
        <p class="mb-2 text-lg font-normal text-[var(--text)] lg:text-xl sm:px-16 lg:px-48">Easily create, organize, share, and manage matches.</p>
        <p class="mb-8 text-lg font-normal text-[var(--text)] lg:text-xl sm:px-16 lg:px-48">MatchBy makes the setup quick, simple and collaborative!</p>
        <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
            <a @onclick="GoToCreateMatch" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-[var(--text-contrast)] hover:text-[var(--text)] rounded-lg bg-[var(--main)] hover:bg-[var(--main-hover)]">
                Get started
                <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
        </div>
    </div>
</section>


<div class="grid max-w-screen-xl h-auto mx-auto px-4 py-8 lg:py-16 justify-center">
    @if (isAuthenticated)
    {
        @if (yourMatches is null)
        {
            <Loading></Loading>
        }
        else
        {   
            if(yourMatches.Count > 0)
            {
            <h1 class="text-3xl font-semibold text-[var(--text)] mb-8">Your Matches:</h1>
            <div class="grid gap-6 mx-auto justify-items-center grid-cols-1 md:grid-cols-3 mb-8">
                @foreach (var match in yourMatches)
                {
                    <MatchCard Match="@match" />
                }
            </div>
            }
        }
    }

    <h1 class="text-3xl font-semibold text-[var(--text)] mb-8">Available Matches:</h1>
    @if (matches is null)
    {
        <Loading></Loading>
    }
    else
    {
        <div class="grid gap-6 mx-auto justify-items-center grid-cols-1 md:grid-cols-3 mb-8">
            @foreach (var match in matches)
            {
                <MatchCard Match="@match" />
            }
        </div>
    }
</div>



@code {
    private bool isAuthenticated;
    private List<MatchDto>? yourMatches { get; set; }
    private List<MatchDto>? matches { get; set; }

    [CascadingParameter] private HttpContext HttpContext { get; set; } = default!;
    private string? _userId;

    protected override async Task OnInitializedAsync() {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        isAuthenticated = user.Identity?.IsAuthenticated ?? false;

        if (!isAuthenticated) {
            yourMatches = null;
            
            var publicMatches = await MatchesService.GetMatches(MatchStatus.Pendent, null, null, 1, 5, CancellationToken.None);
            if (!publicMatches.Success)
            {
                Console.WriteLine("Error fetching public matches: " + publicMatches.ErrorMessages);
                return;
            }
            matches = publicMatches.Data!.Data;
            return;
        }

        _userId = user.FindFirst(ClaimTypes.NameIdentifier)?.Value;

        if (string.IsNullOrEmpty(_userId)) {    
            yourMatches = [];
            return;
        }
        
        var result = await MatchesService.GetMatchesForUser(_userId, null, 1, 5, CancellationToken.None);
        if (!result.Success)
        {
            Console.WriteLine("Error fetching user matches: " + result.ErrorMessages);
            return;
        }
        yourMatches = result.Data!.Data;
        
        var resultMatches = await MatchesService.GetMatchesExceptUser(_userId, null, 1, 5, CancellationToken.None);
        if (!resultMatches.Success)
        {
            Console.WriteLine("Error fetching matches: " + resultMatches.ErrorMessages);
            return;
        }
        matches = resultMatches.Data!.Data;
    }

    private void GoToCreateMatch() => NavigationManager.NavigateTo("/CreateMatch");
    
    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return Task.CompletedTask;

        SentrySdk.CaptureMessage("Hello Sentry");
        StateHasChanged();

        return Task.CompletedTask;
    }
}