@page "/Matches"
@using MatchBy.Services.Matches
@inject IMatchesService MatchesService
@rendermode @(new InteractiveServerRenderMode(false))
@attribute [StreamRendering]
@inject AuthenticationStateProvider AuthenticationStateProvider
@using System.Security.Claims
@using MatchBy.DTOs.Match

<section class="bg-[var(--background)]">
    <div class="grid max-w-screen-xl h-auto mx-auto px-4 py-8 lg:py-16 justify-center">
        @if (_isAuthenticated) {
            @if (YourCreatedMatches is null) { <Loading></Loading> }
            else {   
                if (YourCreatedMatches.Count > 0){
                    <h1 class="text-3xl font-semibold text-[var(--text)] mb-8">Matches By you:</h1>
                    <div class="grid gap-6 mx-auto justify-items-center grid-cols-1 md:grid-cols-3 mb-8">
                        @foreach (var match in YourCreatedMatches)
                        {
                            <MatchCard Match="@match" />
                        }
                    </div>
                }
            }

            @if (AttendingMatches is null) { <Loading></Loading> }
            else {   
                if (AttendingMatches.Count > 0){
                    <h1 class="text-3xl font-semibold text-[var(--text)] mb-8">Your upcoming Matches:</h1>
                    <div class="grid gap-6 mx-auto justify-items-center grid-cols-1 md:grid-cols-3 mb-8">
                        @foreach (var match in AttendingMatches) {
                            <MatchCard Match="@match" />
                        }
                    </div>
                }
            }

            <button class="w-1/3 mx-auto block flex items-center justify-center 
                px-5 py-3 text-base font-medium text-center 
                rounded-lg bg-[var(--main)] hover:bg-[var(--main-hover)]
                text-[var(--text-contrast)] hover:text-[var(--text)]">
                Find more matches!
            </button>
        }

        else {
            <h1 class="text-3xl font-semibold text-[var(--text)] mb-8">Available Matches:</h1>
            @if (matches is null) { <Loading></Loading> }
            else if (matches.Count > 0) {
                <div class="grid gap-6 mx-auto justify-items-center grid-cols-1 md:grid-cols-3 mb-8">
                    @foreach (var match in matches)
                    {
                        <MatchCard Match="@match" />
                    }
                </div>
            }
            <button class="w-1/3 mx-auto block flex items-center justify-center 
                px-5 py-3 text-base font-medium text-center 
                rounded-lg bg-[var(--main)] hover:bg-[var(--main-hover)]
                text-[var(--text-contrast)] hover:text-[var(--text)]">
                Find more matches!
            </button>
        }
    </div>
</section>

@code {
    private bool _isAuthenticated;
    private List<MatchDto>? YourCreatedMatches { get; set; }
    private List<MatchDto>? AttendingMatches { get; set; }
    private List<MatchDto>? matches { get; set; }

    [CascadingParameter] private HttpContext HttpContext { get; set; } = default!;
    private string? _userId;

    protected override async Task OnInitializedAsync() {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        _isAuthenticated = user.Identity?.IsAuthenticated ?? false;

        if (!_isAuthenticated) {
            YourCreatedMatches = null;
            
            var publicMatches = await MatchesService.GetMatches(MatchStatus.Pendent, null, null, 1, 5, CancellationToken.None);
            if (!publicMatches.Success) {
                Console.WriteLine("Error fetching public matches: " + publicMatches.ErrorMessages);
                return;
            }
            matches = publicMatches.Data!.Data;
            return;
        }

        _userId = user.FindFirst(ClaimTypes.NameIdentifier)?.Value;

        if (string.IsNullOrEmpty(_userId)) {    
            YourCreatedMatches = [];
            AttendingMatches = [];
            return;
        }
        
        var result = await MatchesService.GetMatchesForUser(_userId, null, 1, 5, CancellationToken.None);
        if (!result.Success) {
            Console.WriteLine("Error fetching user matches: " + result.ErrorMessages);
            return;
        }
        YourCreatedMatches = result.Data!.Data;
        
        var resultMatches = await MatchesService.GetMatchesExceptUser(_userId, null, 1, 5, CancellationToken.None);
        if (!resultMatches.Success) {
            Console.WriteLine("Error fetching matches: " + resultMatches.ErrorMessages);
            return;
        }
        matches = resultMatches.Data!.Data;
        
        var attendingResult = await MatchesService.GetMatchesUserAttending(_userId, null, 1, 5, CancellationToken.None);
        if (!attendingResult.Success) {
            Console.WriteLine("Error fetching attending matches: " + attendingResult.ErrorMessages);
            return;
        }
        AttendingMatches = attendingResult.Data!.Data;
    }
}