    @page "/matches/{matchId}"
    @inject NavigationManager Nav
    @inject IMatchesService MatchesService
    @inject NavigationManager NavigationManager
    @inject IJSRuntime JS
    @inject AuthenticationStateProvider AuthenticationStateProvider
    @using System.Security.Claims
    @rendermode InteractiveServer
    @inject IUsersService UsersService
    @inject NavigationManager NavigationManager
    @using Microsoft.AspNetCore.Components.Forms


    @if (match == null)
    {
        <p><Loading></Loading></p>
    }
    else {
        <div class="max-w-screen-xl px-4 m-8 mx-auto">
            <h1 class="text-4xl font-bold text-[var(--main)] mb-4">@match.Sport Match</h1>
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-2 items-start">
                <div class="flex flex-col gap-4">
                    <div id="matchPageMap" class="h-[180px] mt-2 sm:h-64 md:h-80 lg:h-[350px] rounded-lg border-3 border-[var(--main)] shadow-sm"></div>
                    <div class="w-full">
                        <label for="address" class="block mb-2 text-sm font-medium text-[var(--main)]">
                            Address
                        </label>
                        <div
                            id="address"
                            class="bg-[var(--section-secondary)] text-[var(--text)] rounded-lg block w-full p-2.5 border-2 border-[var(--main)]"
                            aria-readonly="true"
                        >
                                @match.Address
                        </div>
                    </div>
                </div>
                <div class="flex flex-col gap-4">
                    @* Add more Match Details *@
                </div>
            </div>
        </div>
    }

@code {
    [Parameter] public string matchId { get; set; } = string.Empty;

    private Match? match;
    private bool shouldInitMap = false; 

    protected override async Task OnInitializedAsync()
    {
        match = await MatchesService.GetMatchById(matchId);
        shouldInitMap = true;
        StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (shouldInitMap && match?.Location != null)
        {
            shouldInitMap = false; 

            await JS.InvokeVoidAsync("initMatchPageMap",
                match.Location.Latitude,
                match.Location.Longitude
            );
        }
    }
}
