@page "/error-page/{StatusCode:int}"
@inherits MatchBy.Components.Layout.MainLayout;

<PageTitle>@_heading</PageTitle>
@if (Is404)
{
    <section class="flex flex-col justify-center bg-[var(--background)] h-full">
        <div class="container max-w-5xl px-6 py-12 mx-auto lg:flex lg:items-center gap-0">
            <div class="w-full lg:w-1/2">
                <p class="text-sm font-medium text-[var(--main)]">404 error</p>
                <h1 class="mt-3 text-2xl font-semibold text-[var(--text)] md:text-3xl">Page not found</h1>
                <p class="mt-4 text-gray-500">Sorry, the page you are looking for doesn't exist.Here are
                    some helpful links:</p>

                <div class="flex items-center mt-6 gap-x-3">
                    <button
                        class="flex items-center justify-center w-1/2 px-5 py-2 text-sm text-[var(--text-contrast)] hover:text-[var(--text)] bg-[var(--text)] hover:bg-[var(--text-contrast)] border rounded-lg gap-x-2 sm:w-auto">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor" class="w-5 h-5 rtl:rotate-180">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18"/>
                        </svg>


                        <span>Go back</span>
                    </button>

                    <button
                        class="w-1/2 px-5 py-2 text-sm tracking-wide text-[var(--text-contrast)] bg-[var(--main)] rounded-lg shrink-0 sm:w-auto hover:bg-[var(--main-hover)]">
                        Take me home
                    </button>
                </div>
            </div>

            <div class="relative w-full mt-12 lg:w-1/2 lg:mt-0">
                <img class="w-full max-w-lg lg:mx-auto" src="https://merakiui.com/images/components/illustration.svg" alt="404 illustration">
            </div>
        </div>
    </section>
}
else
{
    <p>An error with status code @StatusCode has occurred.</p>
}

@code {
    [Parameter]
    public int StatusCode { get; set; }
    
    private bool Is404 => StatusCode == 404;
    private string? _heading;

    protected override void OnInitialized() => _heading = Is404 ? "Error 404 - Page Not Found" : $"Error {StatusCode}";

}
