<a
    href="#"
    class="flex py-3 px-4 border-b border-[var(--main)]/10 hover:bg-[var(--section)] transition-colors duration-150">
    <div class="flex-shrink-0">
        <img
            class="w-11 h-11 rounded-full ring-2 ring-[var(--main)]/20"
            src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/bonnie-green.png"
            alt="Bonnie Green avatar"/>
    </div>
    <div class="pl-3 w-full">
        <div
            class="text-[var(--text)]/80 font-normal text-sm mb-1.5">
            New message from
            <span class="font-semibold text-[var(--text)]">Bonnie Green</span
            >: "Hey, what's up? All set for the presentation?"
        </div>
        <div
            class="text-xs font-medium text-[var(--main)]">
            a few moments ago
        </div>
    </div>
</a>
                                