@custom-variant dark (&:where(.dark, .dark *));

:root {
    --main: #6547F6;
    --main-hover: #311F8B;
    --contrast: #D4FF00;
    --dark-contrast: #6F8500;
    --background: #f3f3f3;
    --section: #D4D3D3;
    --section-secondary: #ffffff;
    --text: #1C1C1C;
    --text-contrast: #f3f3f3;
    --success: #00bd45;
    --error: #cc0000;
    --reset: #FF0000;

    font-family: "Funnel Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.dark {
    --main: #D4FF00;
    --main-hover: #6F8500;
    --contrast: #6547F6;
    --dark-contrast: #311F8B;
    --background: #1F1F1F;
    --section: #1C1C1C;
    --section-secondary: #373737;
    --text: #E3E3E3;
    --text-contrast: #1F1F1F;
    --success: #1de667;
    --error: #ff4d4d;
}