@custom-variant dark (&:where(.dark, .dark *));
/*
:root{
    --surface: #f9fafb;      
    --elevated: #f3f4f6;     
    --ink: #111827;          
    --primary: #ece612;
}

.dark{
    --surface: #1f2937;       
    --elevated:#374151;       
    --ink:#f3f4f6;            
    --primary:#ece612;
}

.bg-surface  { background-color: var(--surface); }
.bg-elevated { background-color: var(--elevated); }
.text-ink    { color: var(--ink); }
.bg-primary  { background-color: var(--primary); }
.text-primary{ color: var(--primary); }
.bg-primary-90 { background-color: color-mix(in oklab, var(--primary) 90%, transparent); }
*/